:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --main-light-color: #ffffff;
  --main-dark-color: #000000;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --portfolio-gap: 30px;
  --icons-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.active-page {
  color: var(--accent-color);
}

.filters__button.current-filter {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.button {
  display: block;
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--primary-text-color);
}

.call-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
}

.header-logo {
  color: var(--main-dark-color);
  margin-right: 93px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--main-light-color);
}

.logo__span {
  color: var(--accent-color);
}

.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: border-color var(--transition-dur-and-func);
}

.modal-close-button:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-close-icon {
  fill: var(--main-dark-color);
  transition: fill var(--transition-dur-and-func);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-call-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill var(--transition-dur-and-func);
}

.contact-form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-form-massege-field {
  margin-bottom: 20px;
}

.modal-form-message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-check-desc-link {
  color: var(--accent-color);
}

.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  content: '';
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/checkbox.svg);
  background-size: cover;
}

.modal-form-checkbox:focus + .modal-form-check-desc::before {
  border-color: var(--accent-color);
}

.button-submit {
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  transition: background-color var(--transition-dur-and-func);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--button-hover-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-block {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-and-func);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current-page::after {
  content: '';
  position: absolute;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.current-page {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.main-button {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 152px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-light-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}
.main-button:hover,
.main-button:focus {
  background-color: var(--button-hover-color);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: 270px;
}
.advantages-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.advantages-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.advantages-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
}

.advantages-icon {
  fill: #212121;
}

.advantages-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--secondary-text-color);
}

.specialization {
  padding-top: 0;
}

.specialization-list {
  display: flex;
  justify-content: space-between;
}

.specialization-item {
  margin-right: 30px;
}

.specialization-text-box {
  position: relative;
  width: 100%;
}

.specialization-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.team {
  background-color: var(--section-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}

.team-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  color: var(--primary-text-color);
}

.profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-light-color);
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--icons-color);
  transition: fill var(--transition-dur-and-func);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--main-light-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: var(--icons-color) solid 1px;
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.clients-list-link:hover,
.clients-list-link:focus {
  border: var(--accent-color) solid 1px;
}

.clients-list-icon {
  fill: var(--icons-color);
  transition: fill var(--transition-dur-and-func);
}
.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer__box {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  width: 231px;
  margin-right: 70px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--main-light-color);
}

.address__contact-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.address__contact-link:hover,
.address__contact-link:focus {
  color: var(--accent-color);
}

.social {
  margin-right: 93px;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: var(--main-light-color);
}

.subscription__form {
  display: flex;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: var(--main-light-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.subscription__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.subscription__button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  transition: background-color var(--transition-dur-and-func);
}
.subscription__button:hover,
.subscription__button:focus {
  background-color: var(--button-hover-color);
}

.subscription__icon {
  fill: var(--main-light-color);
  margin-left: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--section-bg-color);
  transition: box-shadow var(--transition-dur-and-func), color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}
.filters__button:hover,
.filters__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--portfolio-gap));
  margin-bottom: calc(-1 * var(--portfolio-gap));
}

.portfolio__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-right: var(--portfolio-gap);
  margin-bottom: var(--portfolio-gap);
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-dur-and-func);
}
.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translate(0, 0);
}

.portfolio-card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
} /*# sourceMappingURL=main.css.map */
