.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  flex-basis: calc((100% - (4 * 15px)) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - (6 * 15px)) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (12 * 15px)) / 6);
    margin: 15px;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;
  border: var(--icons-color) solid 1px;
  border-radius: 4px;

  transition: border var(--transition-dur-and-func);

  &:hover,
  &:focus {
    border: var(--accent-color) solid 1px;
  }
}

.clients-list__icon {
  fill: var(--icons-color);

  transition: fill var(--transition-dur-and-func);

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--accent-color);
  }
}
