.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/mobile/hero/hero-480/hero-480.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  margin: 0 auto;
}

.hero__title {
  @include font(26px, 900, 42px);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-light-color);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.main-button {
  margin-left: auto;
  margin-right: auto;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;

  min-width: 152px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-light-color);

  @include font(16px, 700, 30px);
  letter-spacing: 0.06em;
  text-align: center;

  border-radius: 4px;

  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mobile/hero/hero-480/hero-480@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/tablet/hero/hero-768.jpg');
  }

  .hero__title {
    width: 360px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/tablet/hero/hero-768@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/desktop/hero/hero-1600.jpg');
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero__title {
    width: 700px;
    @include font(44px, 900, 60px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/desktop/hero/hero-1600@2x.jpg');
  }
}
