.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filters__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid transparent;
  border-radius: 5px;

  @include font(16px, 500, 26px);
  text-align: center;

  color: var(--primary-text-color);
  background-color: var(--section-bg-color);

  transition: box-shadow var(--transition-dur-and-func), color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--main-light-color);
    background-color: var(--accent-color);
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--gap));
  margin-bottom: calc(-1 * var(--gap));
}

.portfolio__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: var(--gap);
  margin-bottom: var(--gap);
}

.portfolio__link {
  display: block;

  transition: box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  overflow: auto;

  width: 100%;
  height: 100%;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--transition-dur-and-func);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translate(0, 0);
  }
}

.portfolio-card-content {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
}

.portfolio__title {
  margin-bottom: 4px;

  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-text-color);
}
