:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --main-light-color: #ffffff;
  --main-dark-color: #000000;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --gap: 30px;
  --icons-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
